# EditorConfig is awesome: http://EditorConfig.org
# When modifying this file, please also update https://bitbucket.org/automatastudios/automata-dotfiles/

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Example of extention based config
[*.md]
trim_trailing_whitespace = false
