@font-face {
  font-family: 'freehkfonts';
  src: url('./Free-HK-Kai_4700-v1.02.ttf');
}

body {
  background: #2F2121;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Helvetica, Arial;

  &::after {
    content: "";
    background: url(./bg.png);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
  }
}

.image-container {
  margin-top: 30px;

  .banner-container {
    display: table;
    height: 320px;
    width: 960px;
    background-color: #D11F1F;

    .banner-top,
    .banner-center,
    .banner-bottom {
      display: table-row;

      > div {
        display: table-cell;
        border: solid 1px transparent; /* fix for ios safari, no idea why i need this */
      }
    }

    .banner-corner {
      background: url(./corner.png) no-repeat;
      width: 140px;
      height: 140px;
    }

    .banner-top-left {
    }
 
    .banner-top-right {
      transform: rotate(90deg);
    }
 
    .banner-bottom-left {
      transform: rotate(-90deg);
    }
 
    .banner-bottom-right {
      transform: rotate(180deg);
    }
  }

  .banner-text {
    position: absolute;
    transform: translate(-50%, -50%);
    text-shadow: 2px 0 1px #e6d062, 2px 2px 1px #e6d062, 0 2px 1px #e6d062, -2px 2px 1px #e6d062, -2px 0 1px #e6d062, -2px -2px 1px #e6d062, 0 -2px 1px #e6d062, 2px -2px 1px #e6d062;
  }

  img {
    margin: 1px;
  }

  img:focus {
    margin: 0px;
    border: dashed 1px #FFFFFF;
  }
}

.text-font {
  white-space: pre;
  font-family: freehkfonts;
}

.text-picker {
  margin-top: 20px;

  input {
    font-size: 2em;
    width: 400px;
    text-align: center;
  }
}

.sticker-picker {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;

  .image_picker_selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .thumbnails img {
    height: 100px;
    cursor: pointer;
  }

  .credit img {
    width: 100px;
  }
}

.convert-button {
  margin-top: 20px;

  button {
    font-size: 1.5em;
  }
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: white;

  img {
    width: 32px;
    height: 32px;
  }

  span {
    margin-left: 10px;
  }
}
