@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Helvetica, Arial;
  width: 100%;

  &::after {
    content: "";
    background: url(./background.png);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
  }
}

.container {
  margin-top: 80px;
  max-width: 500px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #FFF;

  a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
  }

  div {
    direction: ltr;
    color: #1c1e21;
    font-size: 13px;
    list-style-type: none;
    line-height: 16px;
    font-family: inherit;
  }

  .clearfix {
    zoom: 1;

    &::after {
      clear: both;
      content: '.';
      display: block;
      font-size: 0;
      height: 0;
      line-height: 0;
      visibility: hidden;
    }
  }

  ._4eek {
    line-height: 16px;
    position: relative;
  }

  ._4efk {
    padding: 4px 12px 4px 8px;
  }

  .lfloat {
    float: left;
  }

  ._3mg1 {
    margin-top: 7px;
  }

  ._3mf5 {
    border-radius: 50%;
    display: block;
    margin-right: 6px;
    position: relative;
    cursor: pointer;

    &::after {
      border: 1px solid rgba(0, 0, 0, .1);
      border-radius: 50%;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  ._3mf2 {
    height: 32px;
    width: 32px;
  }

  ._3me- {
    border-radius: 50%;
    display: block;
    overflow: hidden;
  }

  img {
    border: 0;
  }

  ._42ef {
    overflow: hidden;

    ._6c7i {
      display: inline-block;
      vertical-align: middle;
      max-width: calc(100% - 22px);
      word-wrap: break-word;
    }
 
    ._680y {
      display: inline-flex;
      max-width: 100%;
      position: relative;
      vertical-align: middle;
    }
 
    ._6cuy {
      flex: 1 1 auto;
      min-width: 0;
      width: 100%;
    }
 
    ._6qw3 {
      background-color: #f2f3f5;
      border-radius: 18px;
      box-sizing: border-box;
      color: #1c1e21;
      display: inline-block;
      line-height: 16px;
      margin: 0;
      max-width: 100%;
      word-wrap: break-word;
      position: relative;
      white-space: normal;
      word-break: break-word;
    }
 
    ._7w_c {
      margin: 6px 8px -8px;
    }
 
    ._7w-o {
      position: relative;
    }
 
    ._3x69 {
      align-items: center;
      display: flex;
      margin-bottom: 4px;
    }
 
    ._3-8_ {
      margin-right: 4px;
    }
 
    ._3x6z {
      color: #606770;
      font-size: 10px;
      font-weight: 600;
      line-height: 12px;
      margin-top: -2px;
    }
 
    ._72vr {
      padding: 8px 10px;
    }
 
    ._6qw4 {
      font-weight: 600;
      cursor: inherit;
    }
 
    ._56_f._5dz- {
      background-image: url(./6Lqr2qFxkUV.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: -15px -241px;
    }
 
    ._5dz- {
      height: 12px;
      margin-left: 3px;
      vertical-align: -1px;
      width: 12px;
    }
 
    ._5dzy {
      display: inline-block;
    }
 
    ._6cuq {
      bottom: -11px;
      position: absolute;
      right: 2px;
      z-index: 0;
    }
 
    ._1lh3 {
      display: block;
      position: relative;
      z-index: 0;
    }
 
    ._1lh7 {
      cursor: pointer;
      display: block;
    }
 
    ._42ft {
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      white-space: nowrap;
    }
 
    ._1lha {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
      color: #8d949e;
      font-size: 11px;
      font-weight: normal;
      padding: 2px 1px 2px 2px;
    }
 
    ._1lg- {
      background: #fff;
      border-radius: 10px;
      border-right: 2px solid #fff;
      margin-left: -4px;
      outline: none;
      position: relative;
      vertical-align: top;
 
      &:nth-child(1) {
        margin-left: 0;
        z-index: 3;
      }
    }
 
    ._1lld, ._1lg- {
      font-size: 11px;
      line-height: 16px;
    }
 
    ._2p7a, ._9-- {
      height: 16px;
      width: 16px;
    }
 
    ._9zc {
      display: inline-block;
      box-sizing: content-box;
    }
 
    ._9zc ._2p78._2p78 {
      transform: none;
    }
 
    ._9--._3j7l {
      background-image: url(./BU-tAT0mj14.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: -34px -1573px;
    }
 
    ._9--._3j7m {
      background-image: url(./BU-tAT0mj14.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: -51px -1573px;
    }
 
    ._9--._3j7o {
      background-image: url(./BU-tAT0mj14.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: -17px -1573px;
    }
 
    ._9zc ._2p78 {
      display: block;
      left: 50%;
      margin-left: -50%;
      margin-top: -50%;
      position: absolute;
      top: 50%;
    }
 
    ._2p7a, ._9-- {
      height: 16px;
      width: 16px;
    }
 
    ._2p78 {
      display: inline-block;
    }
 
    ._1lld {
      color: #777d88;
      padding: 0 3px 0 2px;
      white-space: nowrap;
    }
 
    ._1lld, ._1lg- {
      font-size: 11px;
      line-height: 16px;
    }
 
    ._6coi {
      color: #90949c;
      display: inline-block;
      font-size: 12px;
      line-height: 12px;
    }
 
    ._6qw9 {
      margin-bottom: 3px;
      margin-left: 10px;
      min-height: 15px;
      padding: 3px 0 0 0;
    }
 
    ._6coj {
      display: inline-block;
    }
 
    ._6coj:first-child ._6cok {
      display: none;
    }
 
    ._6cok {
      color: #8d949e;
    }
 
    ._6qw6 {
      display: inline-block;
      position: relative;
    }
 
    ._8c74 {
      position: relative;
    }
 
    ._77yo {
      &::before {
        bottom: 0;
        content: '';
        display: block;
        left: -6px;
        position: absolute;
        right: -6px;
        top: -4px;
      }
    }
 
    ._6qw7 {
      color: #606770;
    }
 
    abbr {
      border-bottom: none;
      text-decoration: none;
    }
  }


}

.intro {
  margin-top: 20px;
  
  div {
    text-align: center;
  }
}

#upload-button {
  display: none;
}

.convert-button {
  margin-top: 80px;
}

.footer {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
  }

  span {
    margin-left: 10px;
  }
}
