@import "~bootstrap-table/dist/bootstrap-table.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Helvetica, Arial;
  width: 100%;
}

.table-container {
  margin-top: 20px;

  td {
    font-size: 1.2em;
  }

  .remove.badge {
    padding-top: 5px;
    padding-left: 6px;
  }
}

.filter-container {
  margin-top: 20px;

  label {
    font-weight: bold;
  }

  .filters {
    display: inline-flex;

    span {
      margin-right: 8px;
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;

      a {
        margin-left: 12px;
        padding-top: 5px;
        padding-left: 9px;
      }
    }
  }
}

.footer {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
  }

  span {
    margin-left: 10px;
  }
}
